@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700&amp;display=swap");
@import url("https://fonts.googleapis.com/css?family=Righteous&amp;display=swap");

* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;

  color: #fff;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  color: #fff;
  background-color: #202020;
  font-weight: 400;

  @media (max-width: 1199px) {
    font-size: 14px;
  }
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

ol,
ul {
  list-style: none;
}

a img {
  border: none;
}

*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  transition: .25s ease-in;
}

a:hover {
  color: #fcbd56;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Righteous", sans-serif;
  line-height: 1.4;
  font-weight: 400;
}

h1 {
  font-size: 46px;

  @media (max-width: 1199px) {
    font-size: 32px;
  }
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;

  @media (max-width: 1199px) {
    font-size: 20px;
  }
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}